*{
    margin: 0;
    padding: 0;
}

header{
    font-family: sans-serif;
    background-color: #D8BFD8;
    padding: 0 1rem;
    padding-right: 0;
    p{
        font-weight: bold;
        font-size: 2.5rem;
        text-transform: uppercase;
        color: white;
        &::first-letter{
            color: rgb(255, 191, 0);
        }
    }
    a{
        display: block;
        color: white;
        text-decoration: none;
        padding: 2rem 1.25rem;
        font-size: 1.25rem;
        &:hover{
            background-color: rgb(233, 179, 221);
            color: white;
        }
    }
    nav{
        max-width: 1350px;
        margin: auto;
        ul{
            align-items: center;
            display: flex;
            justify-content: space-between;
            li{
                list-style: none;
            }
        }
    }
}

main{
    font-family: sans-serif;
    max-width: 1350px;
    margin: auto;
    padding: 0 1rem;
    h1{
        margin: 4rem 0;
    }
    .container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        border-top: solid 1px #D5DBDB;
        border-left: solid 1px #D5DBDB;
    }
    .card{
        padding: 1.5rem;
        border-right: solid 1px #D5DBDB;
        border-bottom: solid 1px #D5DBDB;
        img{
            margin: 2rem 0;
            width: 100%;
            height: 200px;
            object-fit: contain;
            transition: 0.15;
        }
        .info{
            width: fit-content;
            color: rgb(255, 255, 255);
            background-color: rgb(233, 179, 221);
            padding: 0.5rem 1rem;
            border-radius: 5px;
            margin-bottom: 1rem;
        }
        .product{
            font-size: 1.1rem;
        }
        button{
            background-color: white;
            border: 0 solid white;
        }
    }
}